/*General styles*/
:root {
  --primary-color: #2780e3;
  --danger-color: #ea3f33;
  --success-color: #5eb71c;
  --dark-color: #373a3c;
  --light-color: #f8f9fa;
  --black-color: #212529;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica;
  color: var(--black-color);
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

/*Margins*/
.mt {
  margin-top: 0.5rem;
}

.mr {
  margin-right: 0.5rem;
}

.mb {
  margin-bottom: 0.5rem;
}

.ml {
  margin-left: 0.5rem
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem
}

.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem
}

.mt-4 {
  margin-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem
}

.mt-5 {
  margin-top: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem
}

/*Basic components*/
.btn {
  display: inline-block;
  background: var(--light-color);
  color: var(--light-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
}

/*Navbar*/
.navbar {
  width: 100%;
  background: var(--primary-color);
  height: 3rem;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
}

/*Landing*/
.landing {
/*  background: url('https://images.unsplash.com/photo-1526554850534-7c78330d5f90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-inner {
  background: #e6e5eb;
  border-radius: 1rem;
}


