/*General styles*/
:root {
  --primary-color: #2780e3;
  --danger-color: #ea3f33;
  --success-color: #5eb71c;
  --dark-color: #373a3c;
  --light-color: #f8f9fa;
  --black-color: #212529;
  --gray-color: #e6e5eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica;
  color: var(--black-color);
  line-height: 1.6;
  background: var(--gray-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

/*Margins*/
.mt {
  margin-top: 0.5rem;
}

.mr {
  margin-right: 0.5rem;
}

.mb {
  margin-bottom: 0.5rem;
}

.ml {
  margin-left: 0.5rem
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem
}

.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem
}

.mt-4 {
  margin-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem
}

.mt-5 {
  margin-top: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem
}

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

/*Basic components*/
.btn {
  display: inline-block;
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: .15rem;
  cursor: pointer;
  margin: 0 0.5rem;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-light {
  background: var(--light-color);
  color: var(--dark-color);
}

.btn-block {
  display: block;
  width: 100%;
  margin: 0;
  margin-top: 3rem;
}

.card {
  background: var(--light-color);
  width: 90%;
  position: absolute;
}

.card-header {
  text-align: right;
}

/*Forms*/
form {
  text-align: left;
  padding: 1.5rem;
}

.add-post-form {
  width: 90%;
  max-width: 900px;
  padding: 0;
  position: relative;
}

.add-post-form input {
  font-size: 2rem;
  padding: 2rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--gray-color);
}

.add-post-form textarea {
  padding: 2rem;
  width: 100%;
  max-width: 900px;
  overflow: auto;
  resize: vertical;
  border: none;
  font-size: 1.3rem;
  outline: none;
  border-bottom: 2px solid var(--gray-color);
}

.form-group {
  margin-bottom: 1rem;
}

.post-submit {
  margin-top: -0.5rem;
  background: white;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input {
  display: block;
  width: 100%;
  height: 2.25rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

/*Navbar*/
.navbar {
  width: 100%;
  background: var(--primary-color);
  height: 3rem;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
}

/*Landing*/
.landing {
  background: url('https://images.unsplash.com/photo-1526554850534-7c78330d5f90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-inner {
  position: relative;
  border-radius: 1rem;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*AUTH*/
.user-auth-icon {
  font-size: 2rem;
}

.card-header svg {
  cursor: pointer;
}

/*Messages*/
.message-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  background: var(--light-color);
  padding: 1rem;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.message-content {
  font-size: 1.1rem;
}

.user-profile-icon {
  font-size: 1.3rem;
}

.user-info {
  display: flex;
  align-items: center;
}



